* {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 3px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  background: url(../img/receit.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #23232e;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #23232e;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #23232e;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #23232e;
  margin-right: 3px;
}

.remember-forgot {
  color: #23232e;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remember-forgot label a {
  text-decoration: none;
  color: black;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.btn {
  background-color: #23232e;
  color: #fff;
  box-shadow: 0 0 10px #fff;
}
.btn-reg {
  background-color: #fff;
  color: #23232e;
  box-shadow: 0 0 10px #23232e;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
